
/* Global
---------------------------------------*/
html{box-sizing: border-box}
html *{box-sizing: inherit}
body{background:#ddd;font-family: "Trebuchet MS";font-size: 25px;margin: 0;overflow: hidden;}

.container{height: 100vh;width: 100vw;overflow: hidden;maw-width: 500px;margin: auto;background:#00bcd4;}
[state="winner"] .container{background:#8bc34a;}
[state="loser"] .container{background:#f44336;}

.container header{background:rgba(255,255,255,.2);width: 80%;height:15vh;margin: auto;padding:20px;margin-bottom: 5%;display:flex;justify-content: center;align-items: center;}
.container header h1{font-size: larger;text-align: center;margin: 0;padding: 0;color:rgba(0,0,0,.7);font-weight: normal;}
.container header h1 em{font-style: normal;color:black;font-weight: bold;}
.container section{}
.container section p{text-align: center;font-size: smaller;}

/* Toast
---------------------------------------*/
.toast{position: absolute;bottom:5%;left:5%;right:5%;padding:20px;
	background:rgba(0,0,0,.5);text-align: center;color:white;
	transition: opacity .3s, transform .3s;transform: translateY(0);opacity: 1;}
[state="waiting"] .toast, .toast:empty{padding: 0;opacity: 0;transform: translateY(40px);}


/* Index page
---------------------------------------*/
.index{}
.index form{}
.index label{display: block;margin: auto;text-align: center;margin: 40px 0;}
.index input{display: block;margin: auto;padding: 10px;font-size: x-large;text-align: center;}

/* Team page
---------------------------------------*/
.buzz-container{width:60%;margin: auto;padding-top:60%;position: relative;}
.buzz{position: absolute;top: 0;right: 0;left: 0;bottom: 0;
	border-radius:500px;backgorund:white;border:1px solid #AAA;
	transition: all .3s;display: block;}
.buzz img{display: block;width: 50%;margin: auto;}
[buzzing="true"] .buzz img{animation: wiggle .3s infinite}

@keyframes wiggle {
	0%   { transform: rotate(10deg) scale(.9); }
	50% { transform: rotate(10deg) scale(1.1); }
	100%   { transform: rotate(10deg) scale(.9); }
}

/* Admin page
---------------------------------------*/

.admin table{width: 80%;margin: 0 auto 20px;}
.admin thead{}
.admin thead tr{}
.admin thead th{background:rgba(255,255,255,.1);padding: 10px;color:#006064;font-weight: normal;}
.admin tbody tr{}
.admin tbody td{background:rgba(255,255,255,.2);padding: 10px;}
.admin tbody tr:nth-child(1){background:rgba(255,255,255,.4);font-weight: bold;}

.reset{font-size: x-large;padding: 10px;margin: auto;display: block;}










